---

---

<footer class="bg-gray-900 text-white py-8 ">
  <div class="container mx-auto px-6 text-center">
    <!-- Legal Info -->
    <p class="text-sm">© 2025 ChaiCode. All rights reserved.</p>
  </div>
</footer>
